@media screen and (min-width: 700px) {
    
    .trasa__gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .trasa__gallery >*{
        flex-grow: 1;
        width: 30%;
    }
    .paragraph{
        text-align: center;
    }
    .photo{
        width: 60%;
        margin: 0 auto;
        padding: 1rem;
    }
    .menu__ul{
        display: inherit;
      }
}
