@media screen and (min-width: 768px) {
    html{
        font-size: 1rem;
    }
    .trasa__gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .figure{
        max-width: 40vw;
        margin: auto;
        padding: 1rem 0;
    }
    
    
    .trasa__gallery >*{
        flex-grow: 1;
    }
    .paragraph{
        text-align: center;
    }

    



    
}